.container {
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #fff;
    max-width: 600px;
    min-width: 270px;
    margin: 0 auto;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input,
        select {
            padding: 10px;
            border: 1px solid #b2acac;
            border-radius: 4px;

            &:focus-visible,
            &:focus {
                border-color: green;
                outline-color: #33aab2;
            }
        }

        fieldset {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 4px;
            border: none;
            padding: 10px 0;

            span {
                display: flex;
                gap: 10px;
            }
        }
    }
}